
  <div *ngIf="user.photoURL">
    <img class="avatar" [src]="user.photoURL" 
    matTooltip="{{user.displayName}}" class="avatar" [style.height.px]="height" [style.width.px]="width">
  </div>

  <div *ngIf="!user.photoURL">
    <div id="container" 
    [style.height.px]="height" 
    [style.width.px]="width" 
    [style.background-color]="backgroundcolour" 
    [style.color]="color"
    matTooltip="{{user.displayName}}">
      <span id="character" [style.font-size.px]="fontSize">
      {{ initials }}
    </span>
    </div>
  </div>
