<a routerLink="/events/{{event.id}}">
  <mat-card matRipple>
    <mat-card-content>
      <div class="card-content">
        <div class="image">
          <img class="card-image" src="{{imageurl}}">
          <div class="body-1 bottom-center found" *ngIf="event.status == 1">ENCONTRADA</div>
          <div class="body-2 bottom-center stolen" *ngIf="!event.status || event.status == 0">ROUBADA</div>
        </div>

        <div class="text">
          <mat-card-title>{{event.bicycle.brand}}</mat-card-title>
          <div class="entry date vertical-center">
                <mat-icon>date_range</mat-icon>
              <span><strong>Roubada em: </strong>{{event.date.toDate() | date }}</span>
          </div>

          <div class="entry location vertical-center">
            <mat-icon>location_on</mat-icon>
            <span>{{event.location}}</span>
            <span *ngIf="event.city">,&nbsp;{{event.city.name}}</span>
          </div>


          <div class="entry description vertical-center">
            <mat-icon>motorcycle</mat-icon>
            {{ event.bicycle.description | truncate:[140, '...'] }}
          </div>
          <div class="entry description vertical-center">
            <mat-icon>description</mat-icon>
            {{ event.description | truncate:[140, '...'] }}
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-footer>
      <hr>
      <div class="footer">
        <div class="user vertical-center" *ngIf="author | async as user">
          <app-user-avatar mat-card-avatar [user]="user"></app-user-avatar>
          <caption class="mat-small"> {{user.displayName}} </caption>
        </div>
        <div class="statistics">
          <caption class="date-created mat-small vertical-center">
            <mat-icon>date_range</mat-icon> Adicionado em: {{event.dateCreated.toDate() | date }}
          </caption>
          <caption class="views mat-small vertical-center">
            <mat-icon>visibility</mat-icon> {{event.views}} visualizações 
          </caption>
          <!-- <caption *ngIf="event.comments" class="mat-small comments-count vertical-center">
          <mat-icon>message</mat-icon> {{event.comments.length}} comments </caption> -->
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</a>