<a routerLink="/events/{{event.id}}">
  <mat-card>
    <div *ngIf="author | async as user">
      <mat-card-header>
        <app-user-avatar mat-card-avatar [user]="user"></app-user-avatar>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{event.bicycle.brand}}</mat-card-title>
        <mat-card-subtitle>
          <span>  {{user.displayName}} </span>
        </mat-card-subtitle>
      </mat-card-header>
    </div>

    <mat-card-content>

      <div class="card-content">
        <div> <img class="card-image" src="{{imageurl}}"><img></div>
        <div class="text">
          <div class="date-and-location">
            <div class="date" *ngIf="event.dateCreated"><mat-icon>date_range</mat-icon>{{event.dateCreated.toDate() | date }}</div>
            <div class="date" *ngIf="event.date"><mat-icon>date_range</mat-icon>{{event.date.toDate() | date }}</div>
            <div class="location"> <mat-icon>location_on</mat-icon>
              {{event.location}}, 
              <span *ngIf="event.city">{{event.city.name}}, </span>
              <span *ngIf="event.district"> {{event.district.name}} </span>
            </div>

          </div>
          <div class="description">{{ event.bicycle.description | truncate:[140, '...'] }}</div>
          <div class="description">{{ event.description | truncate:[140, '...'] }}</div>
        </div>
      </div>


    </mat-card-content>
    <mat-card-footer>
      <hr>
      <div class="statistics">

        <caption class="mat-small">
          <mat-icon>visibility</mat-icon> {{event.views}} views </caption>
        <caption *ngIf="event.comments" class="mat-small comments-count">
          <mat-icon>message</mat-icon> {{event.comments.length}} comments </caption>
      </div>
    </mat-card-footer>


  </mat-card>
</a>