hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.google {
    background-color: #4285F4;
    padding-left:0;
}

.facebook {
    background-color: #4267b2;
    padding-left:0;
}


button .text {
    color:white;
    padding-left: 16px;
}