<div *ngIf="!recoverPassword">
  <app-login-form
    (onLoggedIn)="onLoggedIn()">
  </app-login-form>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-button color="primary" (click)="switchMode()">Esqueceu-se da password? Recupere-a aqui</button> 
  </div>
</div>

<div *ngIf="recoverPassword">
  <app-password-reset></app-password-reset>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-button color="primary" (click)="switchMode()">Voltar para Login</button> 
  </div>

</div>
