<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<mat-toolbar color="primary" class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
        <span>Observatório da Bicicleta</span>
      </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/dashboard">
        <span>Dashboard</span>
      </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/events">
        <span>Events</span>
      </a>
  <div class="flex-spacer"></div>

  <div *ngIf="!auth.isLoggedIn()" class="docs-navbar-header">

   <button mat-button class="docs-navbar-hide-small docs-button" (click)="openSignupDialog()">
        <span>Signup</span>
    </button>

    <button mat-button class="docs-navbar-hide-small docs-button" (click)="openLoginDialog()">
      <span>Login</span>
    </button>
  </div>
  <div *ngIf="auth.user | async as user">
      <a mat-button href="" (click)="auth.logout()">Logout</a>
      <a mat-button href="/profile"> 
        <div class="user">
        <span class="username">{{ user.displayName }}</span>
        <app-user-avatar [user]="user"></app-user-avatar>
        </div>
      </a>
      
      
  </div>
</mat-toolbar>

<mat-toolbar color="primary" class="docs-navbar docs-navbar-show-small">
  <a mat-button class="docs-button" routerLink="/dashboard">
      <span>Dashboard2</span>
    </a>
  <a mat-button class="docs-button" routerLink="/events">
      <span>Events2</span>
    </a>
</mat-toolbar>
