hr {
    margin-top: 16px;
    margin-bottom: 16px;
}
.form {
    max-height: 50%;

}
.wrapper {
    display: flex;
    flex-direction: column;
  }
  
.wrapper > * {
    width: 100%;
  }
  
  .error-hint {
      color: red;
  }
