
<h2>Events</h2>
<a routerLink="/events/new">
  <button mat-raised-button>Adicionar </button>
</a>

<div class="container">

    <app-event-card *ngFor="let event of events" 
                    [event]="event" 
                    (deleted)="onDelete($event)">
    </app-event-card>

</div>

<div>
    <label>event title:
      <input #eventTitle />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(eventTitle.value); eventTitle.value=''">
      add
    </button>
  </div>
<!-- One way data binding from parent to child -->


 