<header class="header">
    <div>
      <a routerLink="/events/new">
      <button mat-raised-button><mat-icon>add</mat-icon> ADD</button>
    </a>
  </div>
    <div>
      <h1 class="mat-h1"> Last Reports</h1>
    </div>
    <div>
        <h2 class="mat-h2"></h2>
      </div>

  </header>

<div class="container">
    <app-event-card *ngFor="let event of events" 
                    [event]="event" >
    </app-event-card>

</div>

<button mat-button (click)="prevPage()" [disabled]="!prevKeys?.length">Prev</button>
<button mat-button  (click)="nextPage()" [disabled]="!nextKey">Next</button>

