<header class="header">
  <div>
    <div class="title-wrapper">
      <div class="title">
        <h1 class="mat-h1 title"> Last Reports</h1>
      </div>
  
      <div class="textbox">
        <app-searchbox  [(searchText)]="searchText" (searchTextChange)="applyFilters()" ></app-searchbox>
        <div class="results-count">
            <span class="mat-small">{{filteredEvents.length}} resultados com os filtros atuais.</span>
          </div>  
      </div>
    </div>
 
</div>
</header>

<div class="fab">
    <a routerLink="/events/new">
      <button mat-fab><mat-icon>add</mat-icon></button>
    </a>
  </div>

<cdk-virtual-scroll-viewport itemSize="350">

  <app-event-card  *cdkVirtualFor="let event of filteredEvents" [event]="event">
  </app-event-card>

  </cdk-virtual-scroll-viewport>

<!-- 
<div class="container">
  <app-event-card *ngFor="let event of filteredEvents" [event]="event">
  </app-event-card>

</div>
Legacy pagination  
<button mat-button (click)="prevPage()" [disabled]="!prevKeys?.length">Prev</button>
<button mat-button (click)="nextPage()" [disabled]="!nextKey">Next</button>-->