<header class="header">
  <div class="title">
    <h1 class="mat-h1 title">Sobre</h1>
  </div>
</header>

<div class="wrapper">

  <div class="logo">

  </div>

  <div class="description">

    <div class="mat-title">
      O que é?
    </div>

    <div class="mat-body">
      <p> O Olhos nas Rodas é uma plataforma criada para incentivar a partilha de informação relativa a bicicletas roubadas.
      </p>
      <p> O seu objetivo é criar uma base de dados única de fácil consulta que permita a qualquer pessoa reportar um roubo ou
        verificar se uma dada bicicleta foi dada como roubada, ajudando assim não só um dono a poder reencontrar a sua bicicleta
        roubada, mas também ajudando a reduzir o mercado negro de bicicletas roubadas e aumentando a percepção sobre o problema
        do roubo de bicicletas, permitindo consultar em que zonas há maior número de roubos, quais os tipos de cadeados mais
        roubados, etc.</p>
      <p>A informação disponível é contrubuida pelos vários utilizadores e é disponibilizada de forma gratuita.</p>
    </div>

    <div class="mat-title">
      Como colaborar
    </div>


    <div class="mat-body">
      <p>
        Existem diversas formas de colaborar com o Olhos Nas Rodas. <br /> A simples ação de reportar uma bicleta roubada
        e ajudar a construir uma base de dados por si só é a maior ajuda que existe para o projeto.
      </p>
      <p>O projeto é desenvolvido em código aberto, sendo possivel contribuir para o mesmo em <a href="https://github.com/pncosta/bicycle-observatory-angular-5">github.com</a>.
      </p>
      <p>Sugestões de novas funcionalidades, feedback de erros ou qualquer outro tipo de feedback são bem vindos através de
        qualquer um dos meios de <a routerLink="/contacts">contacto</a>
      </p>
      <p>
        Por fim, o Olhos Nas Rodas não foi criado com fins lucrativos mas, como qualquer site, tem custos de manutenção e muitas
        horas de trabalho investidas. <br> É possivel contribuir com uma doação para ajudar nos custos do site e
        incentivar o desenvolvimento de novas funcionalidades clicando no botão 'Donate':
      </p>
      <div class="donate-button">
        <app-paypal-donation-button></app-paypal-donation-button>
      </div>
    </div>

  </div>

</div>