<div *ngIf="authService.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
  <app-not-logged-in></app-not-logged-in>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>

  <div class="dialog-container">
    <h1 mat-dialog-title>Enviar Email para Utilizador</h1>
    <div mat-dialog-content class="dialog-content">
      <form [formGroup]="messageForm">
        <mat-form-field>
          <textarea matInput placeholder="Mensagem para o utilizador" rows="4" formControlName="message">
            </textarea>
          <mat-error *ngIf="message.hasError('required') || message.hasError('minlength')">
            Mensagem é obrigatória
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="error" (click)="onNoClick()">CANCELAR</button>
      <button mat-raised-button color="primary" [disabled]="messageForm.invalid" (click)="onYesClick()" cdkFocusInitial>
        <mat-icon>send</mat-icon> ENVIAR
      </button>
    </div>
  </div>
</ng-template>