<header class="header">
  <div *ngIf="!eventId">
    <h1 class="mat-h1"> Report theft</h1>
  </div>
  <div *ngIf="eventId" class="title">
    <h1 class="mat-h1"> Edit theft details</h1>
  </div>
</header>

<div class="fab" *ngIf="eventId">
    <button mat-fab  *ngIf="authorized" color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
  </div>


<div *ngIf="isAuthorized; then authorized else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <app-not-logged-in></app-not-logged-in>
</ng-template>


<ng-template #authorized>


  <div class="wrapper">

    <form [formGroup]="newEventForm">

      <mat-vertical-stepper linear>
        <!-- Step 1 Event Details -->
        <mat-step>
          <ng-template matStepLabel>Theft Details</ng-template>

          <div class="full-width">

            <div class="data-time-container">
              <mat-form-field class="half-width">
                <input (focus)="picker.open()" and (click)="picker.open()" matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="dateValue.value" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="half-width">
                <app-time-picker [(hour)]="hour"></app-time-picker>
              </div>
            </div>

            <div class="full-width district-city-container">
                <app-district-picker [district]="district" (districtChange)="districtChanged($event)" class="half-width"></app-district-picker>
               
                 <app-city-picker [district]="district" [(city)]="city" (cityChange)="cityChanged($event)" class="half-width"></app-city-picker>
            </div>

            <mat-form-field class="full-width">
              <input matInput placeholder="Morada/rua" formControlName="location" />
             <!-- <mat-hint>Type the address or Drag and Drop the marker on the map</mat-hint> -->
            </mat-form-field>

            <div class="map-container">
              <app-my-map #map></app-my-map>
            </div>

            <mat-form-field class="full-width">
              <textarea matInput placeholder="Additional Details" formControlName="description"></textarea>
            </mat-form-field>


          </div>

          <div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <!-- Step 2 Bicycle-->
        <mat-step>
          <ng-template matStepLabel>Bicycle Details</ng-template>

          <mat-form-field class="full-width">
            <input matInput placeholder="Bike Brand and Model" formControlName="bikeBrand">
          </mat-form-field>


          <app-color-picker class="full-width" [(color)]="color"></app-color-picker>
          <!--  <input matInput placeholder="Bike Color" formControlName="bikeColor"> -->


          <mat-form-field class="full-width">
            <input matInput placeholder="Bike Serial Number" formControlName="bikeSerialNo">
          </mat-form-field>


          <app-locker-type class="full-width" [(locker)]="locker"></app-locker-type>


          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description of the bike with the most detail possible" formControlName="bikeDescription"></textarea>
          </mat-form-field>

          <app-form-upload [(images)]="images"></app-form-upload>

          <div>
            <button mat-button type="button" (click)="submit()">SUBMIT</button>

          </div>
        </mat-step>
      </mat-vertical-stepper>

    </form>

  </div>
</ng-template>