
<h2 class="mat-h2">New Event</h2>
<div class="wrapper">
<mat-card class="half-width" class="card">
    <mat-card-header>
     
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

    <mat-card-content>
      <h2 class="mat-h2">Event Details</h2>
      <form [formGroup]="newEventForm">
        <div class="container">
            <mat-form-field class="full-width">
            <input matInput placeholder="Event title" formControlName="title">
          </mat-form-field>

          <mat-form-field class="full-width">
              <textarea matInput placeholder="Leave a comment" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput  placeholder="Local" formControlName="location"/>
          </mat-form-field>

          <div class="full-width">
          <mat-form-field class="half-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="dateValue.value" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="half-width">
            <input matInput  placeholder="hour" formControlName="hour"/>
        </mat-form-field>
        <div class="map-container">
          <app-my-map #map></app-my-map>
          </div>

      
    </div>

          <h2 class="mat-h2">Bicycle Details</h2>

          <mat-form-field class="full-width">
            <input matInput placeholder="Bike brand/Model" formControlName="bikeBrand">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Bike Color" formControlName="bikeColor">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Bike Serial Number" formControlName="bikeSerialNo">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Type of locker used" formControlName="lockerType">
          </mat-form-field>

          <mat-form-field class="full-width">
            <textarea matInput placeholder="bikeDescription" formControlName="bikeDescription"></textarea>
        </mat-form-field>
         
      
        

          

     
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button type="button" (click)="submit()">SUBMIT</button>
      </mat-card-actions>
</mat-card>

</div>

<app-form-upload></app-form-upload>
	
	<br/>
	<br/>
	
	<app-list-upload></app-list-upload>



