.full-width {
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
}

.title div {
    flex:1;
}

.map-container {
    width: 100%;
    height: 256px;
    margin: 4px 0;
}

.card {
    max-width: 768px;
    min-width: 50%;
}


.continue {
    margin-top: 8px;
}

.upload-zone {
    margin-top: 8px;
}

.half-width {
    width: 100%;
}

.container {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.error {
    position: relative;
    bottom: 20px;
    margin-bottom: -10px;
}

.data-time-container {
    display: flex;
    flex-direction: column;
}

.district-city-container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 2px;
    
}

form {
    width: 100%;
}

@media screen and (min-width: 720px) {
    .data-time-container {
        flex-direction: row;
    }

    .district-city-container {
        flex-direction: row;
    }

    .half-width {
        width: 50%;
    }
  
    
  }
  