// app-root {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     top: 56px;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }

mat-toolbar {
    color: indigo;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  