
.header div {
    flex: 1;
}

.header .edit {
    flex: 0;
}

.main-title {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

.found {
    background-color: #ffad28;
    color: white;
  }

.stolen {
    background-color: #BF360C;
    color: white;
  }

.status-chip {
      margin-left: 16px;
  }

.main div {
    flex: 1;
}

.actions {
    display: flex;
    flex-direction: column;
}
.actions button {
    margin: 4px;
}
.details {
    display: flex;
    flex-direction: column;
    flex:1;
    
}
  
.details mat-card {
    flex: 1
}

.images mat-card {
    flex: 1;
    padding-top: 0;
}
.images {
    display: flex;
}

.map-container {
    height: 256px;
    width: 100%;
}

  mat-card {
     margin-bottom: 8px;

  }

  img {
      object-fit: cover; 
      margin-bottom: 8px;  
  }

  .details-labels {
    display: flex; 
    flex-direction: column;
}

  
  @media screen and (min-width: 720px) {

    .main {
        flex-direction: row;
    }

    mat-card {
        margin: 8px;
    }
  }


