<div *ngIf="event">

  <header class="header">
    <div>
      <h1 class="mat-h1 main-title"> {{event.bicycle.brand}}
        <mat-chip-list class="status-chip">
          <mat-chip class="found" *ngIf="event.status == 1">ENCONTRADA</mat-chip>
          <mat-chip class="stolen" *ngIf="!event.status || event.status == 0">ROUBADA</mat-chip>
        </mat-chip-list>
      </h1>
    </div>
    <div>
      <h2 class="mat-h2"> {{event.date.toDate() | date }} | {{event.location}} </h2>
    </div>
  </header>

  <div class="fab">
    <a routerLink="/events/edit/{{event.id}}">
        <button mat-fab *ngIf="canEdit" >
            <mat-icon>edit</mat-icon>
          </button> 
      </a>
  </div>


  <div class="main">
    <div class="details">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="vertical-center">
            <mat-icon>motorcycle</mat-icon>&nbsp;Detalhes da Bicicleta
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="details-labels">
            <span class="mat-body-strong">Marca</span>
            <span class="mat-body">{{event.bicycle.brand}}}</span>
          </div>
          <div class="details-labels">
            <span class="mat-body-strong">Número de Série</span>
            <span class="mat-body">{{event.bicycle.serialNo}}</span>
          </div>
          <div class="details-labels">
            <span class="mat-body-strong">Cor</span>
            <span class="mat-body">{{event.bicycle.color | color}}</span>
          </div>
          <div class="details-labels">
            <span class="mat-body-strong">Descrição</span>
            <span class="mat-body">{{event.bicycle.description}}</span>
          </div>


        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title class="">
            <mat-icon>description</mat-icon>&nbsp;Detalhes do roubo
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="details-labels">
            <span class="mat-body-strong">Data do roubo</span>
            <span class="mat-body">{{event.date.toDate() | date }}</span>
          </div>

          <div class="details-labels">
            <span class="mat-body-strong">Tipo de cadeado usado</span>
            <span class="mat-body">{{event.lockerType | locker}}</span>
          </div>
          <div class="details-labels">
            <span class="mat-body-strong">Localização</span>
            <span class="vertical-center">
                <span class="mat-body">{{event.location}}</span>
            <span class="mat-body">,&nbsp;{{event.city.name}}</span>
            <span class="mat-body" *ngIf="event.district">,&nbsp;{{event.district.name}}</span>
            </span>
          </div>
          <div class="details-labels">
            <span class="mat-body-strong">Detalhes</span>
            <span class="mat-body">{{event.description}}</span>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="images">
      <mat-card class="image-card">
        <div class="images-actions">
          <div mat-card-image class="images-container">
            <app-carousel mat-card-image [items]="photos"></app-carousel>
          </div>

          <div class="author-actions">

            <div *ngIf="author$ | async as user">
              <mat-card-header>
                <app-user-avatar mat-card-avatar [user]="user"></app-user-avatar>
                <mat-card-title> {{user.displayName}} </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>

              </mat-card-header>
            </div>

            <div class="actions">
              <button mat-raised-button color="primary" (click)="openMessageDialog()">
                    <mat-icon>message</mat-icon> CONTACTAR
                </button>
              <button *ngIf="canEdit && (!event.status || event.status == 0)" mat-raised-button color="accent" (click)="markAsFound()">
              <mat-icon>check_circle</mat-icon> MARCAR COMO ENCONTRADA 
           </button>
              <button *ngIf="canEdit &&  event.status == 1" mat-raised-button color="warn" (click)="markAsStolen()">
              <mat-icon>error</mat-icon> MARCAR COMO ROUBADA 
           </button>
            </div>
          </div>

        </div>
      </mat-card>
    </div>
  </div>


  <div class="map-container">
    <app-my-map #map></app-my-map>
  </div>

  <div class="comments">
    <!-- TODO -->

  </div>

</div>