<h2 mat-dialog-title>
  Recuperar Password</h2>
<div mat-dialog-content>
  <div  *ngIf="resetStatus == 0">
  <form [formGroup]="loginForm" (ngSubmit)="resetPassword()">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
     
      <span *ngIf="wrongEmailError" class="error mat-small">Email não registeado. Tente novamente.</span>
      <button mat-raised-button color="primary" type="submit" 
        [disabled]="!loginForm.valid">RECUPERAR PASSWORD</button>
    </div>
  </form>
</div>

<div *ngIf="resetStatus == 1">
  Um email foi enviado para {{ email.value }}. 
  Siga as instruções nesse email para fazer reset à password.
</div>

<div *ngIf="resetStatus == -1">
    O email {{ email.value }} não se encontra registado  
  <button mat-raised-button color="primary" (click)="goBack()" 
  >VOLTAR ATRÁS</button>
</div>

<hr />
</div>



