<div class="footer">
  <div class="mat-small title">
    Olhos nas Rodas 2018  
    <!--<img src="../../assets/logo_text_right_white.png" class="logo" />-->
  </div>

  <div class="links">
    <div class="column">
      <a class="mat-small" href="/tc">Termos e Condições</a>

      <a class="mat-small" href="/about">Sobre</a>

      <a class="mat-small" href="/contacts">Contactos</a>
    </div>

    
  </div>

    <div class="social">
       <app-facebook-button class="logo"></app-facebook-button>
       <app-instagram-button class="logo"></app-instagram-button>
       <app-twitter-button class="logo"></app-twitter-button>
       <app-github-button class="logo"></app-github-button>
       
    </div>
</div>