.footer {
    display: flex;
    flex-direction: row;
    background-color: #3ab580; /* TODO: Get primary color variable */
    width: 100%;
    color: white;
}

a {
  color: white
}

.logo {
    height: 32px;
    padding-right: 8px
    
}

.title {
  margin-left: 72px;
  display: flex;
  align-items: center;
}

.social {
    margin-right: 72px;
    display: flex;
    align-items: center;
}

  .links {
    display: flex;
    flex-direction: row;
    margin-left: 72px;
   // justify-content: space-around;
    flex: 1;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }