<div class="footer">
  <div class="mat-small title">
    Olhos nas Rodas 2018
    <!--<img src="../../assets/logo_text_right_white.png" class="logo" />-->
  </div>

  <div class="links">
    <div class="column">
      <a class="mat-small" href="/tc">Termos e Condições</a>
      <a class="mat-small" href="/about">Sobre</a>
      <a class="mat-small" href="/contacts">Contactos</a>
    </div>
  </div>

  <div class="social">
    <app-facebook-button matRipple class="logo"></app-facebook-button>
    <app-instagram-button matRipple class="logo"></app-instagram-button>
    <app-twitter-button matRipple class="logo"></app-twitter-button>
    <app-github-button matRipple class="logo"></app-github-button>
    <app-paypal-donation-button matRipple class="logo"></app-paypal-donation-button>
  </div>
</div>