.footer {
    display: flex;
    flex-direction: column;
    background-color: #3ab580; /* TODO: Get primary color variable */
    width: 100%;
    color: white;
    align-items: center;
}

a {
  color: white
}

.logo {
    height: 32px;
    margin-right: 8px
    
}

.title {
  display: flex;
  align-items: center;
}

.social {
    display: flex;
    align-items: center;
}

  .links {
    display: flex;
    flex-direction: row;

   // justify-content: space-around;
    flex: 1;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 720px) { 

    .footer {
      flex-direction: row;
    }
    
    .social {
      margin-right: 72px;
    }

    .links {
      margin-left: 72px;
    }
    
    .title {
      margin-left: 72px;
    }
  }