//@import "~@angular/material/prebuilt-themes/indigo-pink.css";/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-onrgreen: (
    50 : #e7f6f0,
    100 : #c4e9d9,
    200 : #9ddac0,
    300 : #75cba6,
    400 : #58c093,
    500 : #3ab580,
    600 : #34ae78,
    700 : #2ca56d,
    800 : #259d63,
    900 : #188d50,
    A100 : #c4ffde,
    A200 : #91ffc2,
    A400 : #5effa6,
    A700 : #45ff97,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-onrgreen, 800, 500, 900);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px 0;
    overflow: hidden;
    background-color:  mat-color($candy-app-primary, 800);
}

.header {
    h1 {
        font-size: 36px;
        font-weight: 300;
        color: white;
      }
      
      h2 {
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px 0;
        color: white;
      }
}


@media screen and (min-width: 720px) {
    .header {
        padding:30px;
        flex-direction: row;
    }

    .header {
        h1 {
            font-size: 56px;
            font-weight: 300;
            line-height: 56px;
            margin: 15px 5px;

          }
          
          h2 {
            font-size: 18px;
          }
    }

} 
