
.wrapper {
    padding: 16px;
}
.event-wrapper {
    max-width: 100%;
   
}

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



@media screen and (min-width: 720px) {
    .event-wrapper {
        max-width: 33%;
        min-width: 360px;
    } 
  }